@page "/Usuario/Cadastro"
@model Web.Pages.Usuario.CadastroModel
@{
}

<form id="form_cadastro" class="w-50 mt-5 p-5 border rounded-3" style="height: max-content">
    <div class="mb-3">
        <label for="input_usuario" class="form-label">Nome</label>
        <input type="text" class="form-control" id="input_nome" required>
    </div>
    <div class="mb-3">
        <label for="input_usuario" class="form-label">E-mail</label>
        <input type="email" class="form-control" id="input_email" required>
    </div>
    <div class="mb-3">
        <label for="input_usuario" class="form-label">Telefone</label>
        <input type="text" class="form-control" id="input_telefone" required>
    </div>
    <div class="mb-3">
        <label for="input_senha" class="form-label">Senha</label>
        <input type="password" class="form-control" id="input_senha" required>
    </div>
    <button id="btn_entrarCadastro" class="btn btn-primary">Cadastrar</button>
</form>

<script src="~/js/Usuario/Cadastro.js"></script>